// Big Button
.big-button {
    font-size: 46px;
    display: flex;
    height: 60px;
    width: 60px;
    border: none;
    text-align: center;
    margin: 10px;
    border-radius: 35px;
    color: white;
    background-color: #8000b6;

    &:hover,
    &:focus {
      background-color: #62008c;
    }
  }
  
  
  // Button
  .button {
    padding: 20px;
    margin: 20px;
  display: flex;
    justify-content:flex-end;
    background: $purple;
    // font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    border: .3rem solid darken($purple, 10%);
    color: white;
    font-weight: bold;
    border-radius: 20%;
    
  }
  
  .button--link {
    background: none;
    border: none;
    color: $off-white;
    padding: 0;
  }
  
  // @media (max-width:$desktop-breakpoint){
  //   .big-button{
  //     margin-bottom: $m-size;
  //   }
  // }