.ReactModalPortal>div {
    opacity: 0;
  }
  
  .ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity 200ms ease-in-out;
  }
  
  .ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
  }
  
  .ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
  }
  
  .modal {
    background: $light-blue;
    color: white;
    max-width: 160rem;
    outline: none;
    padding: $l-size;
    text-align: center;
  }
  
  .modal__title {
    margin: 0 0 $m-size 0;
    // font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: bold;
  }
  
  .modal__body {
    font-size: 2rem;
    font-weight: 300;
    margin: 0 0 $l-size 0;
    word-break: break-all;

  }

  
  .form {
    display: flex;
    flex-direction: column;
    >* {
      margin-bottom: $l-size;
    }
  }
  
  .form__error {
    margin: 0 0 $m-size 0;
    font-style: italic;
    background-color: red;
    color: white;
  }
  
  .form__title {
    color: white;
  }


    input {
      padding: 3px 5px;
      border: 1px solid #7f7f7f;
      width: 300px;
      border-radius: 4px;
    }
  

  .input-form {
    span {
      font-size: 14px;
      padding: 3px 0px;
      font-weight: 600;
      // font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: bold;
    }
  }